body {
    background-image: url(../IMG/GANON.gif);
    width: 100%;
    height: 100%;
    background-size: repeat;
    animation: RGB2 5s infinite;
}
#form {
    margin: auto;
    height: auto;
    width: 500px;
}
#fs1 {
    background-color: aqua;
    font-size: 18px;
    border-color: gold;
}
#fs2 {
    background-color: lightgreen;
    font-size: 18px;
    border-color: silver;
    }
#fs3 {
    background-color: violet;
    font-size: 18px;
    border-color: ;
}
#fs4 {
    background-color: goldenrod;
    font-size: 18px;
    border-width: 5px;
    animation: RGB 5s infinite;
}
legend {
    color: blue;
    font-style: italic;
}
#lg2 {
    color: orange;
    font-style: italic;
}

#lg4 {
    color: red;
    font-style: italic;
}
@keyframes RGB {
    0% { border-color: red; }
    25% { border-color: blue; }
    50% { border-color: green; }
    75% { border-color: orange; }
    100% { border-color: red; }
}
@keyframes RGB2 {
    0% { background-color: red; }
    25% { background-color: blue; }
    50% { background-color: green; }
    75% { background-color: orange; }
    100% { background-color: red; }
}