* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }  
header {
    text-align: center;
    background-size: contain;
    color: cyan;
}
nav {
    text-align: left;
    font-size: 29px;
    background-image: url(img/Sevagothgod.png);
    background-size: auto;
    background-position: 31%;
    float: left;
    width: 25%;
    height: 523px;
    padding: 1px;
    padding-left: 10px;
    padding-top: 10px;
}
a {
    animation: RGB2 2s infinite;
}
main {
    color: white;
    background-image: url(img/Excalibur\ umbra.jpg);
    background-size: cover;
    float: left;
    width: 50%;
    padding: 1px;
    height: 523px;
    padding-left: 10px;
}
article {
    background-image: url(img/Qorvex.png);
    text-align: left;
    background-size: auto;
    background-position: 60%;
    float: left;
    width: 25%;
    color: beige;
    height: 523px;
    padding: 1px;
    padding-left: 10px;
}
.section::after {
    content: "";
    display: table;
    clear: both;
  }
footer {
    text-align: center;
    color: gold;
    background-image: url(img/Gaussprime.png);
    height: 150px;
    background-size: cover;
}
#grendel1 {
    height: 200px;
    width: 200px;
}
#grendel2 {
    height: 200px;
    width: 200px;
}
@keyframes RGB2 {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: red; }
}