table {
    border:1px solid black;   
    margin: 50% auto;
    }
    th {
    border:1px solid black;       
    }
    td {
    border:1px solid black;       
    }
#descans {
    text-align:center; 
    }