table {
    border:1px solid black;   
    align-items: center;    
    }
    th {
    border:1px solid black;       
    }
    td {
    border:1px solid black;       
    }
#descans {
    text-align:center; 
    }