td {
    border:1px solid black; 
    width: 30px;
    height: 30px;       
    }
.cyan {
    background-color: cyan;
}
.blue {
    background-color: darkcyan;
}
.orange {
    background-color: orange;
}
.salmon {
    background-color: lightsalmon;
}